p.about Welcome to my website! I am Paul Kleinschmidt, a Boston based full stack web developer. I'm currently working at #[a.censinet(href="https://www.censinet.com/") Censinet], a Boston based healthcare startup. There you will find me contributing features and maintaining a high standard of code quality. My focus lately has been on Censinet's tech stack: #[span.react React], #[span.ruby Ruby on Rails], and #[span.typescript Typescript], but I love diving in and learning about new technologies.

p.about You can also find me playing jazz guitar, making beats, or playing chess. I'm hoping to add some cool stuff to this site so stay tuned!
