

h1.myName Paul Kleinschmidt <span class="slashslash">//</span> Software Engineer
.contactLogos
  a(href=('https://www.linkedin.com/in/paul-k/'))
      img.linkedIn(src="images/linkedin.svg")
  a(href=('https://github.com/PaulKleinschmidt'))
      img.logo(src="images/github2.png")
  a(href=('https://stackoverflow.com/users/9281222/tallpaulk'))
      img.logo(src="images/so-icon.png")
  a(href=(`mailto:`+ 'paul.kleinschmidt1@gmail.com'))
      img.logo(src="images/close-envelope.png")
  //- h2#email(onclick="something('email')")
  //-   a#email(href=`mailto:`+ 'paul.kleinschmidt1@gmail.com') paul.kleinschmidt1@gmail.com
