mixin navItem(link, name)
    li
        a.navItem(
            href=link
        )   #{name}

div.wholeNav
    div.leftNavMenu
    div.rightNavMenu
        ul.mainNav
            //- +navItem('../me', 'Me')
            //- +navItem('../contact', 'Resume')
