body {
    color: black;
    margin: 0px 20% 200px 20%;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(255, 255, 255);
}

.myName {
    flex: 1;
    margin-bottom: 10px;
    text-align-last: center;
}


button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#email {
    margin-top: initial;
    font-weight: lighter;
}

#email:hover {
    transition: all 0.1s ease-in-out;
    color: #e25353;
}

.censinet {
    color: #6666ff;
    border-width: 0px;
}

.censinet:hover {
    transition: all 0.1s ease-in-out;
    border-bottom: 3px solid #6666ff;
    border-width: 4px;
}

.slashslash {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: #e25353;
    letter-spacing: 2px;
    transition: all 1s ease-in;
}

.slashslash:hover {
    color: #e97f7f;
    transition: all .5s ease-in-out;
    letter-spacing: 7px;
    display: inline-block;
}

.box {
    border: 5px solid #e25353;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-top: 7px;
    margin-left: 50%
}

.box-wrapper {
    margin-top: 24px;
    text-align: center;
}

.header {
    justify-content: center
}

.link-to-github {
    color: #7f7fe9;
    font-size: 18px;
}


.wholeNav {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
}

.nav {
    text-align: center;
    margin-top: 60px;

}

.rightNavMenu {
    float: right;
    width: 230px;
}

.leftNavMenu {
    float:left;
}

.pageContent {
    margin-top: 100px;
    display: grid;
    justify-content: center;
}

li {
    display: inline;
    padding-left: 40px;
}

.about {
    padding-top: 15px;
    line-height: 1.5;
    font-size: 29px;
    text-align: center;
    font-weight: 100
}

.paul {
    font-weight: 400;
    color: #e25353;
}

.devicon {
    max-width: 2em;
    padding-right: 10px
  }


a {
    color: black;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}


.navItem {
    transition: border-bottom 0.1s linear;
    border-bottom: none;
    margin-right: 32px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 4px;

}

.navItemSelected {
    color: #e25353;
    margin-right: 32px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    border-bottom: 3px solid #e25353;
    border-width: 5px;
    padding-bottom: 4px;
}


.info-hidden {
   display: none
}

.info-display {
    display: inline-block;
    font-size: 19px;
    margin: 18px 120px 0px 120px;
    text-align: center;

 }

.navItem:hover {
    transition: border-bottom 0.1s linear;
    border-bottom: 3px solid #e25353;
    border-width: 5px;
}

.download {
   margin-left: 8px;
   font-size: 18px;
}

.contactLogos {
    height: 60px;
    flex-direction: row;
    display: flex;
    margin: 0 auto;
}

.logos {
   text-align: center
}

.logo {
    padding: 10px;
    height: 30px;
    border-width: 0px;
}

.logo:hover {
    transition: border-bottom 0.1s linear;
    border-bottom: 3px solid #e25353;
    border-width: 5px;
}

.linkedIn {
    height: 30px;
    padding: 10px;
    width: 30px;
    position: relative;
    border-width: 0px;
}

.linkedIn:hover {
    transition: border-bottom .1s linear;
    border-bottom: 3px solid #e25353;
    border-width: 5px;
}


.tooltip {
    color: #e25353;
    opacity: 0
}

#email:hover .tooltip {
    opacity: 1
}

.react {
    color: #00d8ff;
}

.ruby {
    color: red;
}

.typescript {
    color: #4c4cff;
}



